{% load staticfiles %}
<div class="music-catagory-item">
    <div class="music-catagory-item-image">
        <button class="hide-visible-button">
            <img src="{% if album.album_cover %}{{ album.album_cover.url }}{% else %}{% static 'components/album_default.jpg' %}{% endif %}">
        </button>
    </div>
    <div class="div-catagory-item-name">
        <p>
            <a class="catagory-item-name-bolt" href="/album/{{ album.id }}">{{ album.name }}</a>
        </p>
        <p class="album-edit-action">
            <a class="edit-album-edit" href="{{ album.id }}"><i class="fas fa-edit"></i></a>
            <a class="edit-album-delete" href="{{ album.id }}/delete"><i class="fas fa-times-circle"></i></a>
        </p>
    </div>
</div>
