{% load staticfiles %}

<div class="music-catagory-item">
    <div class="music-catagory-item-image">
        <button class="hide-visible-button">
                                       <img src="{% static 'components/create_album.png' %}">
                                      
                                       <a href="/create/playlist"> <i class="fas fa-plus"></i></a>
                                      </button>
    </div>
    <div class="div-catagory-item-name">
        <p>Create Playlist</p>
        <p class="catagory-item-artist-small">New</p>
    </div>
</div>
