{% extends "profile/profile_base.html" %}

{% block form_content %}

<form method="post" action="."> {% csrf_token %}
    <div id="login-signup-form">
        {% if invalid_password %}
           <ul class="errorlist nonfield"><li>{{ invalid_password }}</li></ul>
        {% endif %}
        {{ form }}
{#        <label>Current Password</label>#}
{#        <input type="password" placeholder="Current Password">#}
{#        <label>New Password</label>#}
{#        <input type="password" placeholder="New Password">#}
{#        <label>Retype Password</label>#}
{#        <input type="password" placeholder="Retype Password">#}

    </div>
    <div id="login-signup-form-submit">
        <input type="submit" value="Change">
    </div>
</form>

{% endblock %}