<section class="music-catagory-container">
                <div class="music-catagory-title">
                    <p>Playlists</p>
                </div>
                <div class="music-catagory-container-inner">
                    <div class="music-catagory-list">
    <!--                    repeat items-->
                        {% for playlist in playlist_obj %}
                           {% include 'home/playlist_item.html' with playlist=playlist %}
                        {% endfor %}
    <!--                   End repeat items-->
                    </div>
                </div>
                <div class="music-catagory-more">
                {% if not category %}
                    <a href="{% if uploader %}/uploader/playlist/?q={{ uploader.id }}{% else %}/search/{% if search_q %}?q={{ search_q }}&catagory=playlist{% else %}playlist{% endif %}{% endif %}">SHOW MORE
                    <i class="fas fa-angle-down"></i>
                    </a>
                {% endif %}

                </div>
            </section>